<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      حساب
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <div class="info">
        <h2>کاربر کاربر زاده</h2>
        <h5>09355932930</h5>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button color="danger">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>