<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      My Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="!working; else noent">

    <!-- <ng-container *ngIf="cards?.length > 0; else nofav">
      <app-card-block *ngFor="let card of cards" [card]="card"></app-card-block>
    </ng-container> -->

     <ng-container *ngIf="cats?.length > 0; else nofav">
       <app-category-block *ngFor="let cat of cats" [category]="cat" [favOnly]="true"></app-category-block>
    </ng-container>
    
    <ng-template #nofav>
      <span class="noent">شما هنوز هیچ کارتی را به علاقه مندی های خود اضافه نکرده اید</span>
    </ng-template>

  </ng-container>

  <ng-template #noent>
    <span class="noent" *ngIf="working">در حال بارگذاری</span>
  </ng-template>

</ion-content>