<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      نشان ها
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="!working; else noent">

    <ng-container *ngIf="cards?.length > 0; else nofav">
      <app-card-block *ngFor="let cat of cards" [card]="cat"></app-card-block>
    </ng-container>

    <ng-template #nofav>
      <span class="noent">شما هنوز هیچ کارت را به علاقه مندی های خود اضافه نکرده اید</span>
    </ng-template>

  </ng-container>

  <ng-template #noent>
    <span class="noent" *ngIf="working">در حال بارگذاری</span>
  </ng-template>

</ion-content>