<ion-header>
  <ion-toolbar>
    <ion-title>{{ category.title ?? 'نام دسته بندی' }}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-slides style="height: 100%;" #slider (ionSlideWillChange)="slideChange()" (ionSlideDidChange)="slideDidChange()">
    <ion-slide *ngFor="let card of cards">
      <app-flipcard [card]="card" [(flipped)]="flipped" [(persian)]="persian"></app-flipcard>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>

  <div class="panel">

    <div class="navigator">

      <label class="index">
        <span class="current">{{ cardPlace + 1 }}</span>
        <span class="sep">/</span>
        <span>{{ cards?.length }}</span>
      </label>

      
      <div class="nav">

        <button class="btn-nav left" (click)="slider.slidePrev()">
          <ion-icon icon="chevron-forward"></ion-icon>
        </button>

        <div class="dotnav">
          <div class="dot" *ngFor="let card of cards; let i = index" [class.passed]="cardPlace > i" 
            [class.active]="cardPlace == i" (click)="slider.slideTo(i)"></div>
        </div>

        <button class="btn-nav forward" (click)="slider.slideNext()">
          <ion-icon icon="chevron-back"></ion-icon>
        </button>

      </div>

    </div>

    <audio [cacheload]="currentCard?.englishVoice" #currentAudio></audio>

    <div class="actions">

      <ion-fab-button size="small" color="secondary" (click)="flipped = !flipped;">
        <ion-icon name="repeat"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="currentAudio.play()">
        <ion-icon name="volume-high-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button size="small" color="gray" (click)="persian = !persian; flipped = true">
        <img src="/assets/png/iran.png" alt="">
      </ion-fab-button>


    </div>

  </div>

</ion-footer>