<ion-header>
  <ion-toolbar>
    <ion-title>نام دسته بندی</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div class="flash">
    <div class="flash-card" (click)="flipped = !flipped">
      <div class="flash-content" [class.flipped]="flipped">

        <div class="flash-front">
          <img class="flash-image" [src]="currentCard?.imageUrl" alt="">
        </div>

        <div class="flash-back">
          <h1 class="title">
            {{ currentCard?.englishTitle }}
          </h1>
          <p class="desc">
            {{ currentCard?.translationPersianTitle }}
          </p>
        </div>

      </div>
    </div>
  </div>

</ion-content>

<ion-footer>

  <div class="panel">

    <div class="navigator">

      <label class="index">
        <span class="current">4</span>
        <span class="sep">/</span>
        <span>16</span>
      </label>

      <div class="nav">

        <button class="btn-nav left">
          <ion-icon icon="chevron-forward"></ion-icon>
        </button>

        <div class="dotnav">
          <div class="dot passed"></div>
          <div class="dot passed"></div>
          <div class="dot passed"></div>
          <div class="dot active"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>

        <button class="btn-nav right">
          <ion-icon icon="chevron-back"></ion-icon>
        </button>

      </div>

    </div>

    <div class="actions">

      <ion-fab-button size="small" color="secondary">
        <ion-icon name="repeat"></ion-icon>
      </ion-fab-button>

      <ion-fab-button>
        <ion-icon name="volume-high-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button size="small" color="gray">
        <ion-icon name="star" style="color: #cecece;"></ion-icon>
      </ion-fab-button>

    </div>

  </div>

</ion-footer>