@import "/src/theme/utility";
@import "/src/theme/vars";

$width: 80%;
$height: calc(100% - 60px);

.flash {
  @include col;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  background-color: #fafafa;
  height: 100%;
  overflow: hidden;

  .flash-card {
    position: relative;
    perspective: 1000px;
    width: $width;
    height: $height;
    max-width: 360px;

    .flash-content {
      position: absolute;
      width: 100%;
      height: 100%;

      transition: transform 0.6s ease;
      transform-style: preserve-3d;

      .flash-front,
      .flash-back {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        //-
        border: 4px solid white;
        border-radius: 24px;
        box-shadow: 0 10px 32px rgba(0, 0, 0, 0.28);
        background: white;
        overflow: hidden;
      }

      .flash-front {
        .flash-image {
          height: 100%;
          width: 100%;
        }
      }

      .flash-back {
        transform: rotateY(180deg);
        //-
        padding: 24px;

        .title {
          margin-top: 0;
          margin-bottom: 8px;
          font-size: 1.4em;
          text-align: center;
          color: #444;
        }
        
        .desc {
          font-size: .9em;
          color: #666;
        }
        
      }
    }
  }

  .flash-content.flipped {
    transform: rotateY(180deg);
  }
}

.panel {
  @include col;
  padding: 20px 0 28px 0;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;

  .navigator {
    @include col;
    max-width: calc(100% - 20px);

    .index {
      color: #b6b6b6;
      font-size: 0.9em;
      text-align: center;
      margin-bottom: 12px;

      .current {
        color: #555555;
        font-size: 1.6em;
      }

      .sep {
        margin-left: 6px;
        margin-right: 3px;
      }
    }

    .nav {
      @include row;
      gap: 20px;
      justify-content: center;
      align-items: center;

      .btn-nav {
        @include col;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #e5e5e5;
        color: #bbbbbb;
        border: 1px solid #e2e2e2;
        padding: 6px;
        font-size: 28px;
        border-radius: 16px;
      }

      .dotnav {
        @include rowr;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-width: 164px;
        gap: 8px;

        .dot {
          border-radius: 6px;
          background-color: #d3d3d3;
          width: 16px;
          height: 16px;
        }

        .dot.passed {
          background-color: #96d6f9;
        }

        .dot.active {
          background-color: #3aa9fa;
        }
      }
    }
  }

  .actions {
    @include row;
    margin-top: 20px;
    gap: 36px;

    ion-fab-button {
      ion-icon {
      }
    }
  }
}
