<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <!-- Default Searchbar -->
    <ion-searchbar showCancelButton="focus" placeholder="جستجو..." [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="categories?.length > 0; else noent">
    
    <!-- Cards -->
    <ng-container *ngIf="query; else category"> 
      <app-card-block *ngFor="let card of queriedCards" [card]="card"></app-card-block>
    </ng-container>

    <!-- Category -->
    <ng-template #category>
      <app-category-block *ngFor="let cat of categories" [category]="cat"></app-category-block>
    </ng-template>
    
  </ng-container>

  <ng-template #noent>
    <span class="noent" *ngIf="working">در حال بارگذاری</span>
  </ng-template>

</ion-content>