<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      خانه
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Default Searchbar -->
  <ion-searchbar showCancelButton="focus" placeholder="جستجو..." [(ngModel)]="query"></ion-searchbar>

  <ng-container *ngIf="queriedCategories?.length > 0; else noent">
    <app-category-block *ngFor="let cat of queriedCategories" [category]="cat"></app-category-block>
  </ng-container>

  <ng-template #noent>
    <span class="noent" *ngIf="working">در حال بارگذاری</span>
  </ng-template>

</ion-content>