<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites">
      <ion-icon style="font-size: 2.4em" name="star-outline"></ion-icon>
      <!-- <ion-label>نشان ها</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon style="font-size: 2.4em" name="home-outline"></ion-icon>
      <!-- <ion-label>خانه</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon style="font-size: 2.4em" name="person-outline"></ion-icon>
      <!-- <ion-label>حساب</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
