  <ion-card class="ion-padding">
    <ion-item>
      <ion-label position="floating" dir="rtl">شماره تلفن</ion-label>
      <ion-input type="tel" inputmode="tel" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" dir="rtl">رمز عبور</ion-label>
      <ion-input type="password" inputmode="password" required></ion-input>
    </ion-item>
  </ion-card>
  
  <div class="ion-padding-horizontal ion-margin-top">
    <ion-button expand="block" color="primary" class="ion-margin-top">ورود</ion-button>
    <ion-button expand="block" fill="outline" color="primary" routerLink="/account/signup">ثبت نام</ion-button>
  </div>