<div routerLink="/card">
  <ion-card class="category ion-activatable ripple-parent">
    <img class="thumbnail" [src]="category.iconUrl" fallbackImage alt="">
    <div class="content">
      <h2 class="title">{{ category.title }}</h2>
      <div class="info">
        <span class="cards">
          <ion-icon name="copy-outline"></ion-icon>
          <span>{{ category.id }}</span>
        </span>
        <span class="bookmarks" *ngIf="accountService.loggedIn">
          <ion-icon name="star-outline"></ion-icon>
          <span>{{ category.favoritesCount }}</span>
        </span>
      </div>
    </div>
    <div *ngIf="category.isPayed" class="premium"></div>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-card>
</div>