@import "/src/theme/utility";
@import "/src/theme/vars";

$padding: 16px;

.category {
  display: grid;
  grid-template-columns: 1fr 64px;
  grid-template-rows: 1fr;
  grid-template-areas: "content thumbnail";
  gap: calc($padding / 2);
  direction: ltr;
  padding: $padding;
  position: relative;
  cursor: pointer;

  .thumbnail {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    background-color: $ion-color-primary;
    border-radius: 12px;
    grid-area: thumbnail;
  }

  .content {
    margin: auto 12px auto 0;
    grid-area: content;

    .title {
      margin: 0;
      font-size: 1.3em;
      color: $ion-color-dark-tint;
    }

    .info {
      margin-bottom: 0;
      margin-top: 8px;
      @include row;
      gap: 8px;

      > span {
        @include row;
        align-items: center;
        gap: 4px;
        font-size: 1.2em;
      }

      .cards {
        color: $ion-color-danger;
      }

      .bookmarks {
        color: $ion-color-warning;
      }
      
    }
  }

  .premium {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/assets/svg/premium-banner.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
  }

  .bookmark {
    background-color: transparent;
    color: $ion-color-medium;
    --ionicon-stroke-width: 36px;
    position: absolute;
    font-size: 24px;
    bottom: $padding / 2;
    right: $padding / 2;
  }

  .bookmark.marked {
    color: gold;
  }
}
