<div routerLink="/card">
  <ion-card class="category ion-activatable ripple-parent">
    <img class="thumbnail" src="" alt="">
    <div class="content">
      <h2 class="title">این تیتر یک کالکشن می باشد</h2>
      <div class="info">
        <span class="cards">
          <ion-icon name="copy-outline"></ion-icon>
          <span>12</span>
        </span>
        <span class="bookmarks">
          <ion-icon name="star-outline"></ion-icon>
          <span>16</span>
        </span>
      </div>
    </div>
    <div class="premium"></div>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-card>
</div>