@import "/src/theme/utility";
@import "/src/theme/vars";

:host {
  width: 100%;
  height: 100%;
}

$width: 80%;
$height: calc(100% - 60px);

.flash {
  @include col;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  background-color: #fafafa;
  height: 100%;
  overflow: hidden;

  .flash-card {
    position: relative;
    perspective: 1000px;
    width: $width;
    height: $height;
    max-width: 360px;
    transition-property: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    .flash-content {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform 0.6s ease;
      transform-style: preserve-3d;

      .flash-front,
      .flash-back {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        //-
        border: 4px solid white;
        border-radius: 24px;
        box-shadow: 0 10px 32px rgba(0, 0, 0, 0.28);
        background: rgb(107, 93, 93);
        overflow: hidden;
        @include trans;
        transition-property: border-color, box-shadow;
      }

      .flash-front {
        .flash-image {
          height: 100%;
          width: 100%;
          background-color: white;
          user-select: none;
          -webkit-user-drag: none;
          object-fit: contain;
          object-position: center;
        }
      }

      .flash-back {
        @include col;
        align-items: center;
        justify-items: center;
        justify-content: center;
        background-color: white;
        transform: rotateY(180deg);

        //-
        padding: 24px;

        .fav {
          position: absolute;
          top: 8px;
          left: 8px;
        }

        .title {
          margin-top: 0;
          margin-bottom: 8px;
          font-size: 2.4em;
          text-align: center;
          color: #444;
        }

        .desc {
          font-size: 2em;
          text-align: center;
          color: #666;
        }
      }
    }
  }

  .flash-content.flipped {
    transform: rotateY(180deg);
  }
}

.flash.fav {
  .flash-card {
    .flash-content {
      .flash-front,
      .flash-back {
        box-shadow: 0px 9px 20px -1px hsla(43, 100%, 57%, 0.35);
        border-color: #ffd876;
      }
    }
  }
}
